@import '~styles/variables';
@import '~styles/mixins';

.sprova-textarea {
  border-radius: $radius;
  border-style: none;
  box-shadow: 0 0 0 1px rgba(50, 75, 95, 0.05), 0 1px 3px 0 #324b5f1a;
  outline: none;
  padding: 6px 12px;
  resize: vertical;
  transition: all 0.2s;
  width: 100%;

  &:focus {
    box-shadow: 0 0 0 1px rgba(50, 75, 95, 0.05),
      0 1px 4px 0 rgba(50, 75, 95, 0.2);
  }

  &::placeholder {
    opacity: 0.4;
  }

  &-level {
    margin-bottom: $margin-sm;
  }

  &-label {
    color: rgb(71, 87, 95);
    display: block;
    font-weight: 500;

    &.is-required {
      &::before {
        content: '*';
        margin-right: $margin-xs;
      }
    }
  }
}
