@import '~styles/variables';
@import '~styles/mixins';

.sprova-header {
  background-color: white;
  box-shadow: $box-shadow;
  grid-area: header;

  &-left,
  &-right {
    line-height: $page-header-height;
  }

  &-item {
    display: inline-block;
    line-height: $page-header-height;
    padding: 0 $padding-md;
  }

  &-title {
    color: rgba(0, 0, 0, 0.75);
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
    padding-left: $padding-lg;

    &-sub {
      color: rgba(0, 0, 0, 0.45);
      display: inline-block;
      font-size: 14px;
      line-height: 1.8;
      padding-left: 12px;
    }
  }
}
