@import '~styles/variables';
@import '~styles/mixins';

.sprova-layout {
  height: 100vh;
  display: grid;

  @include screen-lg {
    grid-template-columns: $sider-width-default 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'sider page';
  }
}
