@import '~styles/variables';
@import '~styles/mixins';

.signup-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 48px;

  .signup-container {
    display: flex;
    text-align: center;
    flex-direction: column;

    @include screen-xs {
      width: 100%;
    }

    @include screen-sm {
      width: 55%;
    }

    @include screen-md {
      width: 45%;
    }

    @include screen-lg {
      width: 35%;
    }

    @include screen-xl {
      width: 25%;
    }
  }
}
